body{
    background-image: url(../images/background1.jpg);   
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    font-family: 'Quicksand', sans-serif;
    background-attachment: fixed;
    background-color: black;
}
p {
    font-weight: bold;
    font-family: 'Quicksand' , sans-serif;
}
.jumbotron{
    font-family: 'Pacifico', cursive;
    text-align: center;
    background-color: rgba(210, 211, 216,0.7);
    margin: 20px,0px,32px,0px;
}
.display-4{
    font-size: 80pt; 
}
.opaque{
    color:rgba(8, 11, 69, 1.0) 
}
.lead{
    font-weight: bold;
}

.top-buffer {
    margin-top: 30px;
    margin-bottom: 0px;
}

.card{
    background-color:rgba(64, 64, 70, 0.884);
    color: white;
}
h3{
    font-weight: 800;
    font-size: 2.0rem;
    letter-spacing: 0.125em; 
    
}

a{
    color:white;
}

title{
    font-weight: bold;
}
.dex{
    font-family: 'Montserrat', sans-serif;
    color: rgba(8, 11, 69, 1.0);
    font-weight: 700;
    font-size: 3.0rem;
    width: 1000px;
    background: rgba(223, 220, 213, 0.336);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:20px;
    border-radius: 15px 50px;
    margin-bottom: 20px;
}